.page-contact {

  .footer-content--content {
    display: none;
  }
}

.contact-wrapper {

  @include media($xsmall) {
    @include row(table);
  }
}

.contact-map {
  background-color: $black;
  padding: rem(50) $mobile-padding;

  @include media($xsmall) {
    @include span-columns(7);
    vertical-align: middle;
  }

  @include media($small) {
    @include span-columns(9);
  }

  > div {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@include reset-display;

.contact-info {
  background-color: $blue;
  @extend .head-4;
  padding: $mobile-padding;

  @include media($xsmall) {
    vertical-align: middle;
    display: table-cell;
    height: 80vh;
  }
}

.contact-info--content {
  margin: 0 auto;
  max-width: rem(350px);
  font-size: rem(13);

  @screen and min-width(1130px) {
    font-size: $base-font-size;
  }

  a {
    color: $white;
  }
}

// Infobox
%map-info-styles {
  color: $white;
  font-size: rem(13) !important;
  color: $white;
  max-width: rem(280);

  @include media($primary-breakpoint) {
    font-size: rem(18) !important;
    max-width: rem(240);
  }

  span {
    display: block;
    &.blue { font-weight: 600; }
  }

  .read-more { color: $white; }
}

.gm-style-iw {
  display: none;
  @extend %map-info-styles;

  @include media($primary-breakpoint) {
    display: block !important;
    border: 0;
    font-family: $sans-serif;
    top: 270px !important;
    left: 115px !important;
  }
}

.contact-map--content {
  @extend %map-info-styles;
  margin: 0 auto;

  @include media($primary-breakpoint) {
    display: none;
  }
}

.contact-map.ie-contact-map {
  display: none;
}

.ie-browser {
  .contact-map.ie-contact-map {
    display: table-cell;

    .contact-map--content {

      @include media($primary-breakpoint) {
        display: block;
      }
    }
  }
  .contact-map.google-map {
    display: none;
  }

}


