// Global Styles
// -------------

// SCAFFOLDING
// ============================================================

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

html {
  height: 100%;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  @include font-feature-settings("kern", "liga");
  -webkit-font-smoothing: antialiased;
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size-mobile;
  line-height: $base-line-height;

  @include media($xsmall) {
    font-size: $base-font-size-xsmall;
  }

  @include media($small) {
    font-size: rem(16);
  }

  @include media($primary-breakpoint) {
    font-size: $base-font-size;
  }

  &.open-filter {
    @include media($primary-breakpoint) {
      overflow: hidden;
    }
  }

  &.open-nav {
    overflow: hidden;

    @include media($primary-breakpoint) {
      overflow: visible;
    }
  }
}

.slide-body-wrapper {
  width: 100%;
  height: 100%;
  height: 100vh;
  transition: transform 0.4s ease-in-out;

  .open-filter & {
    @include media($primary-breakpoint) {
      transform: translateX(-360px);
    }
  }
}

code {
  background-color: $gray-5;
  border-radius: 3px;
  padding: 2px;
  color: $blue;
}

// IMAGE CLASSES
// ============================================================

img {
  @include image-rendering(optimizeSpeed);
  max-width: 100%;
  height: auto;
  display: block;
}

.bkg-img {
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

picture {
  display: block;
}

// UTILITY CLASSES
// ============================================================

.cover {
  @extend %cover;
}

.bkg-cover {
  @extend %bkg-cover;
}

.bkg-fade {
  @extend %cover;
  // background-blend-mode: multiply;
  background-color: transparentize($black, 0.5);
}

.bkg-fade-dark {
  @extend %cover;
  // background-blend-mode: multiply;
  background-color: transparentize($black, 0.5);

  @include media($xsmall) {
    background-color: transparentize($black, 0.1);
  }
}

.bold {
  @extend %bold;
}

// TYPE COLOR CLASSES
// ============================================================
.white {
  color: $white;
}

.blue {
  color: $blue;
}

// COLOR PANELS
// ============================================================

.gray-panel {
  background-color: $gray-5;
}

// Responsive Tests
#primary-break {
  display: none;

  @include media($primary-breakpoint) {
    display: block;
  }
}

// FADE IN
.fade-in,
.project-module.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease;

  &.in-view,
  .no-js & {
    opacity: 1;
  }
}
