// Global Scaffolding
// ------------------

// Container
.container {
  @include outer-container($max-container-width);
}

.row {
  @include row();
}

// @include display-context(table) {
.row-table {
  @include row(table);
}

@include reset-display;

// CONTENT COLUMN
// --------------
// Wraps all content centerd in 12 columns
.content-column {
  @include media($small) {
    @include span-columns(12);
    @include shift(1);
  }
}

// COLUMNS
// Note on class usage:
// Add `.bump` class to push first element 1 column.
// Add `.bump-nth` to push first element and every nth-child 1 column


.column-3 {
  @include span-columns(3);
  @include bump-nth(5n);
  @include bump();
}


.column-4 {
  @include span-columns(4);
  @include bump-nth(4n);
}


.column-6 {
  @include span-columns(6);
  @include bump-nth(3n);
  @include bump();
}


.column-7 {
  @include span-columns(6);
  @include bump();
}

.column-9 {
  @include span-columns(9);
  @include bump();
}


// Full Half, no margin (see front page)
.column-half {

  @include media($small) {
    width: 50%;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
  }
}







