// Variables: Element Style Variables
// ----------------------------------

// Spacing
$space-sm: rem(10);
$space-md: rem(20);
$space-lg: rem(40);
$space-xl: rem(60);

$mobile-img-margin-bottom: rem(5);

