// Front Page Image Swiper
// -----------------------

$draggerWidth: rem(60);

.swipe {
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
  }

  .bkg-fade-dark.desktop,
  .swiper--image,
  .swiper--drag,
  .swiper--drag-reset,
  .swiper--project-title,
  .swipe--background {
    display: none;

    @include media($primary-breakpoint) {
      display: block;
    }

  }
}

.swiper {
  width: 100%;

  @include media($primary-breakpoint) {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    z-index: 2;
  }
}


.swiper--drag,
.swiper--drag-reset {

  @include media($primary-breakpoint) {
    background: $black;
    width: $draggerWidth;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;

    &:after {
      content: '';
      display: block;
      background: url('../images/plus.svg') no-repeat;
      width: rem(17);
      height: rem(17);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.4s ease;
    }

    &.active-swipe:after {
      transform: rotate(45deg);
      transform-origin: center center;
      margin-left: -9px;
      margin-top: -9px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.swiper--content-wrapper {
  padding: $mobile-padding;

  @include media($xsmall) {
    overflow: hidden;
    right: $draggerWidth;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;

    h2 {
      color: $white;
    }
  }


}

.swiper--content {

  @include media($xsmall) {
    padding-left: $mobile-padding;
    padding-right: $mobile-padding;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    z-index: 2;
    max-width: 900px;
  }

  @include media($primary-breakpoint) {
    @include span-columns(10);
    @include shift(1);
    padding-left: 0;
    padding-right: 50px;
  }
}

.swiper--image {

  @include media($primary-breakpoint) {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    filter: grayscale(100%);
  }
}


.swiper--project-title {

  @include media($primary-breakpoint) {
    background: $black;
    padding: rem(54);
    width: rem(445);
    max-width: rem(445);
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    transition: opacity 0.4s ease;

    &.visible {
      opacity: 1;
    }
  }
}

.swipe--resp-img-wrapper {
  position: relative;

  @include media($primary-breakpoint) {
    display: none;
  }

  img {
    filter: grayscale(100%);
  }
}

.swiper--resp-link {
  margin-top: $mobile-padding;

  @include media($primary-breakpoint) {
    display: none;
  }
}


