.patterns--colors-wrapper-interior,
.patterns--typography-wrapper-interior,
.patterns--about-wrapper-interior {
  @extend .content-column;
  margin-bottom: 40px;
}

.patterns--scroll-wrapper {
  clear: left;
}

.patterns--code-info--code code {
  background-color: transparent;
}

// Grid
.patterns--hentry-14-column-grid {

  .row,
  .row-table {
    background-color: lighten($blue, 50%);
    margin-bottom: $gutter;
    text-align: center;

    .row {
      margin-bottom: 0;
    }
  }

  div[class^="column-"],
  .content-column {
    background-color: $blue;
    color: $white;
    padding-top: rem(20);
    padding-bottom: rem(20);
    border: 1px solid $white;
  }

}