// Page Elements
// -------------

%plus-before {
  &:before {
    content: '';
    display: block;
    background: url('../images/plus.svg') no-repeat left center;
    height: 12px;
    width: 12px;
    margin: 20px 0 10px;
    background-position: 0 0;
    background-size: 12px 12px;

    @include media($primary-breakpoint) {
      height: 12px;
      margin: 10px 0 20px;
    }
  }
}

.plus {
  @extend %plus-before;
}

.plus-aside {
  @include bump();
  @extend %plus-before;

  @include media($primary-breakpoint) {
    @include span-columns(2);
  }

  p {
    @extend %head-5;
  }
}

