// Staff CPT
.staff-archive,
.single-staff {

  main.main {
    background-color: $gray-5;
  }
}

// Staff Module
.staff-module {
  @include span-columns(7);
  @include omega(2n);
  padding-bottom: rem(12);
  margin-bottom: $mobile-padding;
  border-bottom: 1px solid $gray-10;

  @include media($primary-breakpoint) {
    @include omega-reset(2n);
    @include span-columns(3);
    @include omega(4n);
    @include bump-nth('4n+1');
    @include bump();
    margin-bottom: rem(80);
    transform: translate3d(0,30px,0);
    transition: transform 0.5s ease-out, opacity 0.5s ease, padding 0.3s ease-in-out;

    &.in-view {
      transform: translate3d(0,0,0);
    }
  }

  * {
    line-height: 1;
  }

  .head-4 {
    margin-bottom: 2px;
  }

  .head-3 {
    margin-bottom: 8px;
  }

  picture {
    overflow: hidden;
    margin-bottom: rem(27);
    backface-visibility: hidden;
  }

  img {
    @include media($primary-breakpoint) {
      transition: transform .3s ease-in-out;
      backface-visibility: hidden;
    }
  }

  a {
    display: block;
  }
}

// Hover State
.staff-module:hover {
  @include media($primary-breakpoint) {

    .staff-module--content {
      transform: translateY(-3px);
    }

    img {
      transform: scale(1.01);
    }

    .read-more:after { margin-left: 15px;}
  }
}

.staff-module--content {
  padding: 0 rem(10);
  backface-visibility: hidden;

  @include media($primary-breakpoint) {
    padding: 0;
    transition: transform .3s ease-in-out;
  }
}

// Staff Single
.single-staff main.main {
  // padding: rem(100) 0 rem(90);

  @include media($primary-breakpoint) {
    padding: rem(100) 0 rem(90);
  }
}

.staff--headshot {
  @include span-columns(7);

  @include media($xsmall) {
    @include span-columns(6);
    padding-right: ($mobile-padding / 2);
    padding-bottom: ($mobile-padding / 2);
  }

  @include media($primary-breakpoint) {
    @include span-columns(4);
  }

  @include media($xlarge) {
    margin-left: -($single-column-width / 2);
  }
}

// Bio Asides
.resp-staff--bio-aside {
  @include span-columns(7);
  @include omega();
  padding: $mobile-padding ($mobile-padding / 2);

  @include media($xsmall) {
    float: left;
    padding: $mobile-padding 0;
  }

  @include media($primary-breakpoint) {
    display: none;
  }

  p {
    width: 80%;
    max-width: 260px;
  }
}

.staff--aside-spacer {
  float: left;
}

.staff--content--bio-aside {
  display: none;

  @include media($primary-breakpoint) {
    display: block;
    max-width: 260px;
    padding: rem(28) rem(50) rem(28) 0;
  }

  p {
    @extend %head-5;
  }
}


.staff--content {
  clear: left;
  padding: $mobile-padding $mobile-padding 0;
  margin-bottom: $mobile-padding;

  @include media($xsmall) {
    clear: none;
    @include span-columns(8);
    padding: $mobile-padding $mobile-padding  0 0;
  }

  @include media($primary-breakpoint) {
    @include span-columns(7);
    @include shift(1);
    padding: 0;
    clear: right;
    margin-bottom: rem(100);
  }

  .head-1.lead {
    margin-bottom: 0;
  }

  .head-1.subhead {
    color: $gray-60;
  }
}

.staff--projects {
  clear: left;
  padding: 0 $mobile-padding;
  margin-bottom: $mobile-padding;

  @include media($primary-breakpoint) {
    @include span-columns(3);
    @include shift(1);
    padding: 0;
  }
}

.staff--projects--list {
  list-style: none;
  margin: 0;
  padding: 0 $gutter 0 0;

  h3 {
    color: $black;
    margin-bottom: 0;
  }

  li {
    border-bottom: 1px solid $gray-20;
    padding: 10px 0;
  }

  p {
    line-height: 1.125;
  }

  p + p {
    margin-top: 0;
  }
}

.staff--alt-image {

  @include media($primary-breakpoint) {
    @include span-columns(9);
    @include shift(1);
  }

  @include media($xlarge) {
    position: relative;
    right: -($single-column-width / 2);
  }

  img {
    width: 100%;
  }

  &.staff--no-projects {
    @include shift(4);
    clear: left;
  }
}





