// Link Styles
// -----------

a {
  color: $base-link-color;
  text-decoration: none;
  @extend %standard-trans;

  &:hover {
    color: $hover-link-color;
    text-decoration: none;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}


// Read More Link
.read-more {
  @extend %bold;
  @extend %arrow-after;
  font-size: $base-font-size-mobile;
  color: $black;
  display: block;

  @include media($primary-breakpoint) {
    font-size: rem(18);
  }

  &:hover {
    color: $blue;
    &:after { margin-left: 15px;}
  }

  &.small {
    font-size: $base-font-size-mobile;

    @include media($primary-breakpoint) {
      font-size: rem(16);
    }
  }

  &.blue {
    color: $blue;
  }

  &.light {
    font-weight: 400;
  }

  &.blank:after {
    margin-left: 0;
  }
}

.project-link {
  color: $gray-60;
  display: block;
  padding: rem(17) 0 0;
  line-height: 1;
  transition: color 0.7s ease, transform .3s ease-in-out;
  backface-visibility: hidden;

  @include media($xsmall) {
    font-size: rem(13);
  }

  @include media($medium) {
    font-size: rem(18);
  }

  &:before {
    content: '';
    display: block;
    background: url('../images/arrow.svg') no-repeat center center;
    width: 12px;
    height: 11px;
    position: relative;
    top: 2px;
    margin-left: 10px;
    transition: margin-left 0.4s ease-out;
    float: right;
  }

  &:after {
    content: '';
    display: block;
    height: 1px;
    background-color: $gray-20;
    margin-top: rem(17);
    transition: transform .3s ease-in-out;
  }

  &:hover {
    color: $blue;
    transform: translateY(-3px);

    &:after {
      transform: translateY(-3px);
    }
  }
}

.project-module:hover .project-link {
  color: $blue;
  transform: translateY(-3px);

  &:after {
    transform: translateY(-3px);
  }
}

// Active Link Color
.active,
a.active,
.active a,
li.active a {
  color: $blue;
}



