// PROJECT MODULE
// --------------

%project-module-column {

  @include media($xsmall) {
    @include span-columns(7);
    @include omega(2n);
  }

  @include media($medium) {
    @include omega-reset(2n);
    @include span-columns(6);
    @include bump-nth('2n+1');
  }
}

.project-module {
  @extend %project-module-column;
  overflow: hidden;
  backface-visibility: hidden;
  margin-bottom: $mobile-padding;

  .project-module--image-wrapper {
    overflow: hidden;
  }

  img {
    transition: transform .5s ease;
    backface-visibility: hidden;
  }

  &:hover {

    img {
      transform: scale(1.01);
    }

    .project-link {
      color: $blue;
    }
  }

}

.project-module--img-wrap {
  overflow: hidden;
}
