// Featured Section
// ----------------

.project--ftd {
  margin-bottom: $mobile-padding;

  @include media($primary-breakpoint) {
    margin-bottom: rem(70);
  }
}

.plus--ftd--aside {
  display: none;

  @include media($medium) {
    display: block;
    padding-right: rem(20);
  }
}

.project--ftd--img {
  margin-bottom: $mobile-padding;

  @include media($medium) {
    @include span-columns(11);

    &.no-aside {
      @include shift (3);
    }
  }
}


// Content Section
// ---------------

.project--content {
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.project--content--title {
  padding: 0 $mobile-padding;

  @include media($primary-breakpoint) {
    @include span-columns(9);
    @include shift(1);
    margin-bottom: 0;
    padding: 0;
  }
}

.project--content--content-wrapper {
  background-color: $white;
  padding: 0 $mobile-padding $mobile-padding;

  @include media($primary-breakpoint) {
    padding: rem(30) 0 rem(125);
  }
}

.project--content--content {

  @include media($primary-breakpoint) {
    clear: left;
    @include span-columns(7);
    @include shift(2);
  }
}

.project--content--details {

  @include media($primary-breakpoint) {
    @include span-columns(2.25);
    @include shift(1);
  }
}

.project--content--details {
  line-height: 1.125;
  margin-top: $mobile-padding;

  @include media($primary-breakpoint) {
    margin-top: 0;
  }

  &:before {
    margin-bottom: rem(15);
    margin-top: 0;
  }

  li {
    border-bottom: 1px solid $gray-20;
    padding-right: rem(20);
    padding-bottom: rem(8);
    margin-bottom: rem(8);
  }
}


// Project Layouts
// ---------------
.project--layouts {
  background-color: $white;
  position: relative;
  z-index: 2;
  margin-bottom: 10px;
}


// Quotes
// ------

.project--images--quote {
  color: $blue;
  padding: 0 $mobile-padding;
  margin: rem(15) 0 rem(20);

  @include media($primary-breakpoint) {
    padding: 0;
    margin: 0;
  }

  p + p {
    margin-top: 0;
  }

  .quote {
    font-weight: 600;
    padding-left: rem(8);
    &:before  { content: '“'; margin-left: rem(-8);}
    &:after   { content: '”'; }
  }

  .quote-attr {
    font-weight: 400;
    display: block;

    &:before {
      content: '-';
    }
  }
}

// Image Layouts
// -------------

.project--images--wrapper {
  background-color: $white;

  @include media($primary-breakpoint) {
    margin-bottom: rem(100);
  }

  &.before-to-left {

    @include media($primary-breakpoint) {
      margin-bottom: rem(140);
    }
  }

  .plus.before {
    font-size: rem(13);
    font-weight: 600;
    color: $gray-20;
    margin-top: rem(8);
    margin-bottom: 20px;

    @include media($primary-breakpoint) {
      font-size: rem(16);
      margin-bottom: 0;
    }

    &:before {
      display: inline-block;
      margin: 0;
      width: rem(20);
    }
  }

  .quote-full-width,
  .quote-right {

    @include media($primary-breakpoint) {
      @include span-columns(6);
      clear: left;
    }
  }

  .quote-full-width {
    margin-bottom: $mobile-padding;

    @include media($primary-breakpoint) {
      @include shift(7);
      margin-top: rem(100);
    }
  }

  .quote-right {

    @include media($primary-breakpoint) {
      @include shift(2);
    }
  }

}

// Before and After
// ----------------

.project--images--before {

  @include media($primary-breakpoint) {
    @include span-columns(5);
  }

  &.before-tag {
    padding: 0 $mobile-padding;

    @include media($primary-breakpoint) {
      padding: 0;
    }
  }

  .before-to-right & {

    @include media($primary-breakpoint) {
      margin-right: 0;
      margin-top: rem(334);
    }
  }
}

.before-left-wrapper {

  @include media($primary-breakpoint) {
    @include span-columns(5);
    @include shift(1);
  }

  .project--images--before {
    width: 100%;
    float: none;
    margin: 0;
  }

  .quote-left {

    @include media($primary-breakpoint) {
      @include span-columns(8);
      @include shift(3);
      margin-top: rem(75);
      margin-right: 0;
    }

    .quote-attr {
      margin-top: rem(8);
    }
  }

}

.project--images--after {
  margin-bottom: 10px;

  @include media($primary-breakpoint) {
    @include span-columns(8);
    margin-bottom: 0;
  }

  .before-to-left & {
    margin-right: 0;

    @include media($primary-breakpoint) {
      margin-top: rem(88);
    }
  }

  .before-to-right & {
    @include media($primary-breakpoint) {
      @include shift(1);
    }
  }
}

// Full Width Image
// ----------------

.project--images--full-width {

  @include media($primary-breakpoint) {
    @include span-columns(10);
    @include shift(2);
  }
}

.project--images--wrapper.full-width {
  margin-bottom: $mobile-img-margin-bottom;

  @include media($primary-breakpoint) {
    margin-bottom: rem(60);
  }
}



