// Typography Extends
// ------------------

// BASICS
// ============================================================

%light {
  font-weight: 200;
}

%book {
  font-weight: 400;
}

%bold {
  font-weight: 600;
}

%bold-caps {
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

// LINKS
// ============================================================

%arrow-after {
  &:after {
    content: '';
    display: inline-block;
    background: url('../images/arrow.svg') no-repeat center center;
    width: 12px;
    height: 13px;
    position: relative;
    margin-left: 10px;
    transition: margin-left 0.4s ease-out;
    background-size: 13px 12px;

    @include media($primary-breakpoint) {
      width: 12px;
      height: 11px;
    }
  }
}


// LISTS
// ============================================================

%list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

%list-inline {
  padding: 0;
  margin: 0;
  list-style: none;

  > li {
    display: inline-block;
  }
}



// HEADINGS
// ============================================================

%header-reset {
  margin: 0;
  padding: 0;
  font-size: $base-font-family;
  font-weight: 400;
}

%head-1 {
  @extend %bold;
  margin-bottom: rem(20);
  line-height: 1.125;
  font-size: rem(18);

  @include media($medium) {
    font-size: rem(49);
    margin-bottom: rem(30);
  }
}

%head-1-large {
  @extend %bold;
  font-size: rem(30);

  @include media($medium) {
    font-size: rem(75);
  }
}

%head-2 {
  @extend %bold;
  line-height: 1.125;

  @include media($medium) {
    font-size: rem(32);
    margin-bottom: rem(10);
  }
}

%head-2-large {
  @extend %light;
  line-height: 1.125;
  font-size: $base-font-size-mobile;

  @include media($xsmall) {
    font-size: rem(20);
  }

  @include media($small) {
    font-size: rem(24);
  }

  @include media($medium) {
    font-size: rem(42);
  }
}

// Small Headers
%small-header-size {
  font-size: rem(13);

  @include media($small) {
    font-size: rem(18);
  }
}

%head-3 {
  @extend %book;
  @extend %small-header-size;
  margin-bottom: 8px;
}

%head-4 {
  @extend %bold;
  @extend %small-header-size;
}

// Tiny Headers
%tiny-header-size {
  font-size: rem(11);
  color: $gray-20;

  @include media($xsmall) {
    font-size: rem(13);
  }

  @include media($small) {
    font-size: rem(16);
  }
}

%head-5 {
  @extend %bold;
  @extend %tiny-header-size;
}

%head-6 {
  @extend %book;
  @extend %tiny-header-size;
}


// SUBHEADS
// ============================================================

%subhead-1 {
  color: $brand-color;
  font-size: rem(12);
  margin: 0;
}

%subhead-2 {
  font-size: rem(14);
  font-weight: 600;
  margin: 0 0 10px;

  @include media($small) {
    font-size: rem(18);
  }
}

